# CSV Files

## CSV

In [7]:
import fused


@fused.udf
def udf():

    import pandas as pd

    # Read csv file
    # https://catalog.data.gov/dataset/supply-chain-greenhouse-gas-emission-factors-v1-2-by-naics-6
    df = pd.read_csv('https://pasteur.epa.gov/uploads/10.23719/1528686/SupplyChainGHGEmissionFactors_v1.2_NAICS_CO2e_USD2021.csv')

    return df


df = fused.run(udf=udf, engine="local")
df.head()

,2017 NAICS Code,2017 NAICS Title,GHG,Unit,Supply Chain Emission Factors without Margins,Margins of Supply Chain Emission Factors,Supply Chain Emission Factors with Margins,Reference USEEIO Code
0,111110,Soybean Farming,All GHGs,"kg CO2e/2021 USD, purchaser price",1.223,0.103,1.326,1111A0
1,111120,Oilseed (except Soybean) Farming,All GHGs,"kg CO2e/2021 USD, purchaser price",1.223,0.103,1.326,1111A0
2,111130,Dry Pea and Bean Farming,All GHGs,"kg CO2e/2021 USD, purchaser price",2.874,0.134,3.007,1111B0
3,111140,Wheat Farming,All GHGs,"kg CO2e/2021 USD, purchaser price",2.874,0.134,3.007,1111B0
4,111150,Corn Farming,All GHGs,"kg CO2e/2021 USD, purchaser price",2.874,0.134,3.007,1111B0

## TSV

In [8]:
import fused


@fused.udf
def udf():

    import pandas as pd

    # Read census .txt file as csv
    df = pd.read_csv('https://www2.census.gov/programs-surveys/acs/summary_file/2022/table-based-SF/documentation/ACS20225YR_Table_Shells.txt', delimiter='|')

    return df


df = fused.run(udf=udf, engine="local")
df.head()

,Table ID,Line,Indent,Unique ID,Label,Title,Universe,Type
0,B01001,1.0,0,B01001_001,Total:,Sex by Age,Total population,int
1,B01001,2.0,1,B01001_002,Male:,Sex by Age,Total population,int
2,B01001,3.0,2,B01001_003,Under 5 years,Sex by Age,Total population,int
3,B01001,4.0,2,B01001_004,5 to 9 years,Sex by Age,Total population,int
4,B01001,5.0,2,B01001_005,10 to 14 years,Sex by Age,Total population,int